.account__wrapper {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}
.account {
  left: 50%;
  top: 50%;
  padding: 15px;
  border-radius: 8px;
  position: absolute;
  text-align: center;
  width: calc(100% - 70px);
  background-color: white;
  transform: translate(-50%, -50%);
}

.account__image {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 20px;
  background-color: #5f6368ba;
}
.account__image [data-img],
.account__image img {
  width: 90px;
  height: 90px;
  background-size: 90px 90px;
}
.account__body__name {
  font-size: 18px;
  color: #202124;
  font-weight: 500;
  letter-spacing: 0.29px;
}
.account__body__email {
  color: #5f6368;
  margin-top: 3px;
  font: 400 14px/19px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.account__signout {
}
.account__signout__button {
  all: unset;
  margin: 16px;
  font-size: 16px;
  color: #3c4043;
  font-weight: 500;
  padding: 10px 24px;
  width: fit-content;
  border-radius: 4px;
  width: fit-content;
  display: inline-block;
  letter-spacing: 0.15px;
  border: 1px solid #dadce0;
}
