.label__modal__wrapper {
    top: 10%;
    left: -1px;
    z-index: 5;
    width: 101vw;
    height: 130vh;
    position: fixed;
    transform: translateY(-13%);
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .label__modal {
    top: 20%;
    left: 50%;
    width: 225px;
    z-index: 5003;
    font-size: 13px;
    color: #202124;
    max-width: 225px;
    border-radius: 2px;
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -20%);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 2px 6px 2px rgba(60, 64, 67, 0.149);
  }
  
  .label__modal .body {
    padding: 11px 10px 0;
  }
  .label__modal__head {
    font-size: 14px;
  }
  .label__modal__search {
    display: flex;
    align-items: center;
    padding: 11px 5px 8px 0;
    justify-content: space-between;
  }
  .label__modal__search__input {
    border: none;
    outline: none;
    font-size: 13px;
    color: #3c4043;
    font-family: 'Roboto', arial, sans-serif;
  }
  .label__modal__search__input::placeholder {
    color: #959899;
  }
  .label__modal__search__icon {
    width: 14px;
    height: 14px;
    opacity: 0.35;
    background-size: 14px 14px;
  }
  .label__modal__labels ul {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style: none;
    max-height: 250px;
  }
  .label__modal__labels li {
    margin: 10px 0;
  }
  .label__modal__labels li .label {
    display: flex;
    font-size: 13px;
    align-items: center;
  }
  
  .label__modal__labels li .checkbox {
    all: unset;
    width: 18px;
    height: 18px;
    opacity: 0.54;
    margin-right: 7px;
    display: inline-block;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-image: url(/image/icon/checkbox_notchecked.svg);
  }
  .label__modal__labels li .checkbox.checked {
    background-image: url(/image/icon/checkbox.svg);
  }
  .label__modal__createlabel {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    border-top: 1px solid #dadce0;
  }
  .label__modal__labels li .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
  }
  [data-img].label__modal__createlabel__icon {
    width: 18px;
    height: 18px;
    opacity: 0.54;
    margin-right: 8px;
    background-size: 18px 18px;
  }
  .label__modal__createlabel__icon {
    width: 18px;
    height: 18px;
    opacity: 0.54;
    margin-right: 8px;
    display: inline-block;
  }
  .label__modal__createlabel__text {
    width: 133px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
  }