.nwnote.nwnote--closed {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}
.nwnote {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.402),
    0 2px 6px 2px rgba(60, 64, 67, 0.449);
}
.note {
  margin-bottom: 8px;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  border-color: #e0e0e0;
  background-color: #fff;
  transition-duration: 0.218s;
  border: 1px solid #e0e0e0;
  transition-timing-function: ease-in;
  transition-property: background, border, opacity, box-shadow, transform;
}
.note__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trash .note__head {
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.textarea--mod {
  all: unset;
  resize: none;
  outline: none;
  overflow: hidden;
  word-break: break-all;
  box-sizing: border-box;
}
.note__head__titletext {
  height: 45px;
  font-size: 1rem;
  font-weight: 500;
  padding: 11px 15px;
  line-height: 1.5rem;
  width: calc(100% - 25px);
  letter-spacing: 0.00625em;
}

.note__head__pin {
  top: 11px;
  width: 26px;
  right: 18px;
  height: 26px;
  opacity: 0.71;
  position: absolute;
}
.note__body__content {
  /* margin-bottom: 6px; */
  /* margin-top: 24px; */
}
.trash .note__body__content {
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.note__body__content__textarea {
  width: 100%;
  height: 45px;
  font-weight: 500;
  padding: 12px 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.01428571em;
  font-family: Roboto, Arial, sans-serif;
}
.trash .note__body__content__textarea {
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.note__body__content__textarea::placeholder {
  letter-spacing: 0;
  font-family: 'Work Sans', sans-serif;
}
img[alt='options'] {
  height: 34px;
  width: 18px !important;
}
.note__body__content__label {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 12px 5px;
}
.note__body__content__label__tag {
  margin: 3px;
  display: flex;
  font-size: 11px;
  color: #3c4043;
  border-radius: 20px;
  align-items: center;
  text-transform: capitalize;
  padding: 4px 10px;
  background-color: #ebebeb;
}
.note__body__content__label__tag .text {
  max-width: calc(100% - 19px);
}
.note--closed .note__body__content__label__tag .text {
  max-width: unset;
}
.note--closed .note__body__content__label__tag {
  padding: 4px 10px;
}
.note--closed .note__body__content__label__tag [data-img] {
  display: none;
}
.trash .note__body__content__label__tag [data-img] {
  display: none;
}
.note__body__content__label__tag [data-img] {
  width: 14px;
  height: 14px;
  opacity: 0.54;
  margin-left: 5px;
  background-size: 14px 14px;
}
.note__body__controls {
  outline: none;
}
.trash .note__body__controls {
  display: none;
}
.note__body__controls__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.note--closed .note__body__controls__item {
  pointer-events: none;
}
.note__body__controls__item__withmodal {
  position: relative;
}
.label__modal__wrapper {
  top: 10%;
  left: -1px;
  z-index: 5;
  width: 100vw;
  height: 130vh;
  position: fixed;
  transform: translateY(-13%);
  background-color: rgba(0, 0, 0, 0.6);
}

.label__modal {
  top: 20%;
  left: 50%;
  width: 225px;
  z-index: 5003;
  font-size: 13px;
  color: #202124;
  max-width: 225px;
  border-radius: 2px;
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -20%);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.label__modal .body {
  padding: 11px 10px 0;
}
.label__modal__head {
  font-size: 14px;
}
.label__modal__search {
  display: flex;
  align-items: center;
  padding: 11px 5px 8px 0;
  justify-content: space-between;
}
.label__modal__search__input {
  border: none;
  outline: none;
  font-size: 13px;
  color: #3c4043;
  font-family: 'Roboto', arial, sans-serif;
}
.label__modal__search__input::placeholder {
  color: #959899;
}
.label__modal__search__icon {
  width: 14px;
  height: 14px;
  opacity: 0.35;
  background-size: 14px 14px;
}
.label__modal__labels ul {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  list-style: none;
  max-height: 250px;
}
.label__modal__labels li {
  margin: 10px 0;
}
.label__modal__labels li .label {
  display: flex;
  font-size: 13px;
  align-items: center;
}

.label__modal__labels li .checkbox {
  all: unset;
  width: 18px;
  height: 18px;
  opacity: 0.54;
  margin-right: 7px;
  display: inline-block;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-image: url(/image/icon/checkbox_notchecked.svg);
}
.label__modal__labels li .checkbox.checked {
  background-image: url(/image/icon/checkbox.svg);
}
.label__modal__createlabel {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-top: 1px solid #dadce0;
}
.label__modal__labels li .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 20px);
}
[data-img].label__modal__createlabel__icon {
  width: 18px;
  height: 18px;
  opacity: 0.54;
  margin-right: 8px;
  background-size: 18px 18px;
}
.label__modal__createlabel__icon {
  width: 18px;
  height: 18px;
  opacity: 0.54;
  margin-right: 8px;
  display: inline-block;
}
.label__modal__createlabel__text {
  width: 133px;
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[data-img].note__body__controls__item__image {
  width: 19px;
  height: 34px;
  opacity: 0.71;
  margin: 0px 10.5px;
  background-size: 19px 34px;
}

.control--disabled {
  opacity: 0.25;
  pointer-events: none;
}
.note__footer {
  display: flex;
  justify-content: flex-end;
}
.note__footer__closebtn {
  all: unset;
  height: 32px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 24px;
  margin-right: 15px;
  font-size: 0.945rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.01785714em;
  font-family: 'Work Sans', sans-serif;
}
/* 
.nwnote--closed .note__head {
  display: none;
}
.nwnote--closed .note__body__controls {
  display: none;
}
.nwnote--closed .note__footer {
  display: none;
}
.nwnote--closed .note__body__content {
  display: flex;
}
.nwnote--closed .note__body__content__textarea {
  width: 50%;
  font-size: 1.1rem;
} */
