.omnibar {
  top: 0;
  z-index: 5;
  height: 56px;
  display: flex;
  position: sticky;
  background: white;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 0 #dadce0;
}
.omnibar__scrolling {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.omnibar__left {
  display: flex;
  align-items: center;
  width: calc(100% - 130px);
}

.omnibar__left__icon {
  opacity: 0.5;
  margin-left: 20px;
  margin-right: 15px;
}
.omnibar__left__pagename {
  top: -1px;
  width: 170px;
  font-size: 22px;
  color: #3c4043;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-family: 'Work Sans', sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.omnibar__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  left: 8px;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
    0 1px 3px 1px rgba(65, 69, 73, 0.15);
  height: 40px;
  width: calc(100% - 120px);
}
.omnibar__search__input {
  all: unset;
  padding: 11px 0;
  font-size: 16px;
  /* max-width: 153px; */
  width: 70%;
}
.omnibar__search__reset,
.omnibar__search__back {
  width: 24px;
  margin: 8px 11px;
  opacity: 0.6;
}

.omnibar__right {
  display: flex;
  width: 130px;
  justify-content: space-between;
}
.omnibar__icon {
  width: 24px;
  opacity: 0.5;
  height: 32px;
  background-size: 24px 32px;
}
.omnibar__right__profile {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  background-size: 32px 32px;
  background-color: #5f6368ba;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation-name: spin;
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  -ms-animation-name: spin;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
}
