.omnibar {
  top: 0;
  height: 56px;
  display: flex;
  position: sticky;
  background: white;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 0 #dadce0;
}
.omnibar__scrolling {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.omnibar__left {
  width: 50%;
  display: flex;
  align-items: center;
}
.omnibar__icon {
  opacity: 0.5;
}
.omnibar__left__icon {
  margin-left: 20px;
  /* color: #5f6368;
    fill: #fff; */
}
.omnibar__left__pagename {
  top: -1px;
  font-size: 22px;
  color: #3c4043;
  overflow: hidden;
  margin-left: 15px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-family: 'Work Sans', sans-serif;
}
.omnibar__right {
  display: flex;
}
.omnibar__right__search,
.omnibar__right__refresh,
.omnibar__right__settings {
  margin-right: 25px;
}
.omnibar__right__profile {
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  background-size: 32px 32px;
  background-color: #5f6368ba;
}
