.palate {
  opacity: 0;
  top: -125px;
  width: 150px;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  position: absolute;
  padding: 5px 7px 3px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  transition: visibility 0s ease 0.218s, opacity 0.218s linear;
  -webkit-transition: visibility 0s ease 0.218s, opacity 0.218s linear;
}
.palate:focus {
  outline: none;
}
.palate.open {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s ease 0ms, opacity 0.218s linear;
  -webkit-transition: visibility 0s ease 0ms, opacity 0.218s linear;
}
.palate__colorpreview {
  all: unset;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin: 5px 2px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid transparent;
}
.palate__colorpreview:checked {
  position: relative;
  border-color: rgba(0, 0, 0, 0.87) !important;
}
.palate__colorpreview:checked::before {
  top: 50%;
  left: 50%;
  content: "✔";
  font-size: 1em;
  position: absolute;
  color: rgba(0, 0, 0, 0.87);
  transform: translate(-50%, -50%);
}
.palate__colorpreview.white {
  border: 2px solid #e0e0e0;
}
.palate__colorpreview.selected {
  border: 2px solid #1d1d1d;
}
